
* {
	font-family: sans-serif;
}

body {
  padding-top: 50px;
}

h1 {
	font-size: 14px;
	color: #777777;
	padding: 5px;
	display: block;
	float: left;
	width: 100%;
}

#container {
	width: 900px;
	height: 400px;
	margin: 0px auto;
}

#container input, #container label {
	width: 100%;
	height: 30px;
	margin: 8px;
	padding: 5px;
	border: solid #999999 1px;
	border-radius: 5px;
	font-size: 15px;
	background-color: #EFEFEF;
}

#container label {
	padding: 0px;
	border: none;
	background: none;
}

#modal {
	z-index: 5000;
	position: fixed;
	width: 800px;
	height: 500px;
	color: #000000;
	border: solid #EEEEEE 1px;
	background-color: #FFFFFF;
	display: none;
	overflow: hidden;
}

#modal_ul {
	width: 100%;
	height: 400px;
	margin: 0px;
	padding: 0px;
	float: left;
	list-style: none;
	overflow: hidden;
	overflow-y: auto;
}

#modal_ul li {
	padding: 5px;
	padding-top: 15px;
	height: 25px;
	border-bottom: solid #BBBBBB 1px;
}

#modal_ul li:hover {
	cursor: pointer;
	background-color: #DDDDDD;
}

#closeModal {
	position: relative;
	float: right;
	margin-right: 10px;
	margin-top: -40px;
	cursor: pointer;
}